.saleContainer {
  background-color: var(--color-dark);
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
}

.saleContainer div {
  background-color: var(--color-medium);
  width: 100%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

.saleContent {
  font-weight: 700;
  width: 100%;
}

.saleGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 5px;
}
