.detailContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: green;
  margin: 1rem;
  padding: 1rem;
}

.details {
  background-color: aliceblue;
  width: 45%;
}

.input {
  display: flex;
  background-color: red;
  justify-content: space-between;
  gap: 20px;
}
