.detailContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: var(--color-dark);
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid black;
}

.details {
  background-color: var(--color-light);
  padding: 10px;
  border-radius: 4px;
  border: 2px solid black;
  width: 45%;
}

.input {
  display: flex;
  background-color: var(--color-light);
  justify-content: space-between;
  margin: 8px;
}
